@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<div class="module">
    <h2 class="episode-guide-header">Contact Info</h2>
    <div class="module-body corp-home-top">
        <div class="corp-home-wrapper">
            <h3 class="corp-contact-section-header">Corporate Headquarters</h3>
            <div class="corp-home-contact corp-contact-sections">
                <ul class="contact-text">
                    <li class="bold">Marvel Entertainment, LLC</li>
                    <li>135 W. 50th Street</li>
                    <li>New York, NY 10020</li>
                </ul>



            </div>
            <!--corp-home-contact-->
            <div class="corp-contact-sections">
                <h3 class="corp-contact-section-header">Business Inquiries</h3>
                <p>For tech support, please visit the <a href="../../../../help/">Help Page</a>.</p>
                <p>General phone number, Marvel Entertainment, LLC: 212-576-4000</p>
            </div>
            <!--corp-contact-sections-->
            <div class="corp-contact-sections consumer-contact">
                <h3 class="corp-contact-section-header">Consumer Inquiries</h3>
                <p><span class="bold">For FAQ's related to Marvel Comics and Marvel.com: </span> Visit the <a href="../../../../help/">Help Page</a>.</p>
                <b>Marvel.com, Marvel Comics app, and Marvel Digital Comics Unlimited Subscriptions:</b></br>
                <br>For any inquiries unresolved by the Help Page, please use the Contact Form <a href=http://marvel.com/help/contact> here</a>.</br>
                <br><b>For Print Subscriptions:</b></br>

                <br>Marvel Subscriptions
                <br>PO Box 727</br>
                New Hyde Park, NY 11040</br>
                TOLL FREE: 888-511-5480</br>
                <a href="mailto:marvelsubs@midtowncomics.com">
                    marvelsubs@midtowncomics.com
                </a></br>
                <br><b>See also:</b></br>
                <br><a href="http://subscriptions.marvel.com/faq.asp">Subscriptions FAQ</a></br>
            </div>
            <!--corp-contact-sections-->
            <div class="corp-contact-sections media-contact">
                <h3 class="corp-contact-section-header">Media Relations</h3>
                Dan Klores Communications</br>
                Jeff Klein</br>
                Executive Vice President</br>
                (212) 981-5189</br>
                <a href="mailto:jeff_klein@dkcnews.com">jeff_klein@dkcnews.com</a>
                </ul></br>
            </div>
            <!--corp-contact-sections-->
        </div>
        <!--corp-home-wrapper-->
    </div>
    <!--module-body corp-home-top-->
    <div class="module-shadow">&nbsp;</div>
</div>
<!--module-->
