@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Marvel Movies</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p class="lead">
        This website is developed using the following 3 different approaches:
        <ol>
            <li>Traditional declarative Web Forms (using Drag and Drop and server controls)</li>
            <li>Model bound Web Forms (using LINQ/Lambda)</li>
            <li>Model View Controller</li>
        </ol>

    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>
            MVC is a mordern design pattern.
        </p>
        <p><a class="btn btn-secondary" href="/Movies">MVC&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Model Binding </h2>
        <p>Using LINQ/Lambda, Entity Framework</p>
        <p><a class="btn btn-secondary" href="/Webform/MovieList.aspx">WebForm(Model binding)&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Traditional Data Binding </h2>
        <p>SqlDataSource control</p>
        <p><a class="btn btn-secondary" href="/Webform/Traditional/MovieList.aspx">WebForm(SqlDataSource) &raquo;</a></p>
    </div>
</div>